*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
}

body {
    margin: 1rem;
    padding: 0;
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: var(--clr-text);
    font-size: 1.125rem;
    padding: 0.5em;
    position: relative;
    align-self: start;
    justify-self: start;
}

.btn::after {
    content: "";
    position: absolute;
    background-color: var(--clr-accent);
    height: 1em;
    width: 100%;
    left: 0;
    z-index: -1;
}

.title {
    color: var(--clr-accent);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: clamp(3rem, 10vw, 7rem);
}

.location {
    color: var(--clr-icons);
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

header {
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
    margin: 2em 0;
    
}

footer {
    margin-top: 2rem;
}

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.nav-link {
    color: var(--clr-text);
    text-transform: capitalize;
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 2em;
}

.secondry-images {
    display: flex;
    gap: 0.5em;
}

.social-links:hover,
.social-links:focus {
    opacity: 0.5;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--clr-accent);
}

@media (min-width: 800px) {
    body {
        margin: 0;
    }

    .main-grid {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(10rem, 30rem)) minmax(1em, 1fr);
        gap: 2em;
        position: relative;
    }

    header {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: subgrid;
    }

    .nav {
        grid-column: 2 / 5;
    }

    main {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
    }

    main::after {
        content: "";
        position: absolute;
        background-color: var(--clr-bg-light);
        top: 0;
        bottom: 0;
        left: -2em;
        right: -9em;
        grid-column: 3 / 5;
        z-index: -10;
    }

    .title {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .location,
    .description {
        grid-column: 1 / 2;
    }

    .primary-img {
        grid-column: 2 / -1;
        grid-row: 1 / 4;
        z-index: -1;
        height: 100%;
        max-height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .secondry-images {
        grid-column: 2 / 4;
        margin-top: 4em;
    }

    footer {
        grid-column: 2 / 3;
    }
}

@media (min-width: 1200px) {

    .nav,
    main::after {
        grid-column: 3 / 4;
    }

    .nav,
    .secondry-images {
        grid-column: 2 / 3;
    }
}